*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,0.2637429971988795) 0%, rgba(129,86,201,0.19931722689075626) 35%, rgba(252,70,107,0.1825105042016807) 100%);
}